version: "3.7"

# YAML Anchors

x-deployment-env: &deployment-env
  ENV: ${ENV:-development}
  SG_ENV: ${SG_ENV:-development}

x-etcd-client-env: &etcd-client-env
  ETCD_HOST: ${ETCD_HOST:-etcd}
  ETCD_PORT: ${ETCD_PORT:-2379}

x-redis-client-env: &redis-client-env
  REDIS_URL: ${REDIS_URL:-redis://redis:6379}

x-rethinkdb-client-env: &rethinkdb-client-env
  RETHINKDB_HOST: ${RETHINKDB_HOST:-rethink}
  RETHINKDB_PORT: ${RETHINKDB_PORT:-28015}
  RETHINKDB_DB: ${RETHINKDB_DB:-place_development}

services:
  test: # Module coordinator
    build:
      context: ./
      dockerfile: Dockerfile.test
      args:
        crystal_version: ${CRYSTAL_VERSION:-1.0.0}
    volumes:
      - ./spec:/app/spec
      - ./src:/app/src
    depends_on:
      - etcd
      - redis
      - rethink
    environment:
      # Environment
      GITHUB_ACTION: ${GITHUB_ACTION:-}
      # Service Hosts
      << : *etcd-client-env
      << : *redis-client-env
      << : *rethinkdb-client-env
      # Environment
      << : *deployment-env

  redis:
    image: eqalpha/keydb
    restart: always
    hostname: redis

  rethink:
    image: rethinkdb:${RETHINKDB_VERSION:-2.4}
    restart: always
    hostname: rethink

  etcd:
    image: bitnami/etcd:${ETCD_VERSION:-3}
    restart: always
    hostname: etcd
    environment:
      ALLOW_NONE_AUTHENTICATION: "yes"
      